* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* header */

.logo-box {
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    height: 130px;
    background-size: 32%;
}

.logo-img {
    height: 70px;
    margin-top: 30px;
}

/* main */

h1 {
    font-size: 2.9rem;

    margin-top: 30px;
    font-weight: 900;
}

.author {
    text-decoration: none;
    color: #3CBEED;

}

address {
    font-size: 22px;
    color: gray;
    font-weight: 600;
}

.date {
    font-size: 16px;
}

.main-box {
    max-width: 1280px;
    margin-top: 25px;
}

.main-box>figure>img {
    height: 430px;
}

.main-info>p {
    margin: 20px 0
}

.evidenziato {
    background-color: yellow;
}

.main-info>ul {
    margin-left: 15px;
}

/* tabella */

table {
    text-align: left;
    margin-top: 30px;
    border-collapse: collapse;  
}

thead {
    color: white;
    background-color: #20A9E5;
}

th{
    width: 25%;
    font-weight: 900;
}

.th-big{
    width: 50%;
}

tbody {
    background-color: #B1E5F2;
}

th,
td{
    padding-top: 2px;
}

#tr {
    background-color: white;
}


/* footer */

footer>h2 {
    font-size: 22px;
    color: grey;
}

.monitor {
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    max-width: 250px;
    margin-top: 20px;
}

.graph {
    background-image: url(../img/graph.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    max-width: 250px;
    margin: 20px 0;

}

.lorem {
    color: white;
    font-size: 22px;
    padding: 15px;

}