*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.logo-box{
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    height: 130px;
    background-size: 32%;
    }

.logo-img{
    height: 70px;
    margin-top: 30px;
}   